# Defaults
.DS_Store
.env

node_modules/
dist/
build/
.npm/

# Test binaries
*.exe
testspotify/testspotify
testyoutube/testyoutube

# Dependency directories
vendor/

# Environment files
.env
bin/

# Coverage artifacts
coverage
coverage.out
server_cov
frontend/coverage/
cov.out
